%section.columns.clear
  %div
    %div
      %h2
        %span 統聯酒測日報表 Alcohol Test Daily Report (2012/08/01)
    %table{:border => "1", :cellpadding => "2", :cellspacing => "2", :style => "background-color: #ffffff;", :width => "100%"}
      %tr{:valign => "top"}
        %th{:width => "35"}
          %span No.
        %th{:width => "126"}
          %span 站名
        %th{:width => "126"}
          %span 登錄人姓名
        %th{:width => "126"}
          %span 測試總次數
        %th{:width => "126"}
          %span 測試總駕駛員數
        %th{:width => "126"}
          %span 總班次數
        %th{:width => "126"}
          %span 調度士測試次數
        %th{:width => "126"}
          %span 見習/抽班/重覆
        %th{:width => "126"}
          %span 主管姓名
        %th{:width => "126"}
          %span 主管覆核
      %tr{:valign => "top"}
        %td
          %span 1
        %td
          %span 台北轉運站 (Taipei station)
        %td
          %span 黃麗卿
        %td
          %span 401
        %td
          %span 397
        %td
          %span 389
        %td
          %span 4
        %td
          %span 0/0/0
        %td
          %span 黃麗卿
        %td
          %span 正確無誤 (Correct)