%div
  %div
  %form{:action => "/login", :method => "post"}
    .field
      %label.label{:for => "user_id'"} 員工序號
      .ui
        %input{:id => "user_id", :name => "id", :size => 12, :type => "text"}
    .field
      %label.label{:for => "user_password"} 密碼
      .ui
        %input{:id => "user_password", :name => "password", :size => 12, :type => "password"}
    .buttons
      %input{:value => "登入", :type => "submit"}
