#wrapper
  #content
    %h1{:style => "text-align: left"} 請選擇左列功能

#navigation
  %nav
    %ul
      %li
        %a{:href => "/manager/edit"} 新增修改帳號
      - if @current_user.permission_level == -1    
        %li
          %a{:href => "/manager/sitemgr"} 分站資訊維護
        %li
          %a{:href => "/manager/broadcast"} 分站訊息通知