#wrapper
  #content
    %h3 請選擇左列功能
#navigation
  %nav
    %ul
      %li
        %a{:href => "/manager/signup"} 新增帳號
      %li
        %a{:href => "/manager/edit"} 編輯帳號
      %li
        %a{:href => "/manager"} 新增分站
      %li
        %a{:href => "/manager"} 編輯分站資訊