:javascript
  $(document).ready(function(){
  $("#permitSelect").change(function () {
      var int = "";
      $("#permitSelect option:selected").each(function () {
        pSelect = parseInt($(this).attr("value"));
      });
      if (pSelect > 0){
        $("#siteSelect option[value=0]").attr('disabled','disabled');
        // user not select a site yet
        if ($("#siteSelect option:selected").attr("value") == '0') {
          $("#siteSelect option[value=1]").attr('selected','selected');
        }  
      } else {
       $("#siteSelect option[value=0]").removeAttr("disabled").attr('selected','selected');
      }
  });
  });

#wrapper
  #content
  %h1.page_title 新增帳號
  %form{:action => "/manager/signup", :method => "post"}
    .field
      %label.label{:for => "user_id"} 員工序號
      .ui
        %input{ :id => "user_id", :name => "user[id]", :size => 10, :type => "text", :value => locals["id"]}
    .field
      %label.label{:for => "user_name"} 員工姓名
      .ui
        %input{ :id => "user_name", :name => "user[name]", :size => 10, :type => "text", :value => locals["name"]}
    .field
      %label.label{:for => "user_password"} 密碼
      .ui
        %input{ :id => "user_password", :name => "user[password]", :size => 10, :type => "password" }
    .field
      %label.label{:for => "user_password_confirmation"} 密碼確認
      .ui
        %input{ :id => "user_password_confirmation", :name => "user[password_confirmation]", :size => 10, :type => "password" }
    .field
      %label.label{:for => "user_site"} 所屬分站
      .ui
        %select{:id => "siteSelect", :name => "user[site]"}
          - if @current_user.permission_level == -1
            %option{:value => 0, :selected => true} - 總公司 -
            - @sites.each do |site|  
              %option{:value => site.id} #{site.name}
          - else
            - @sites.each do |site|
              - if site.id == @current_user.site_id
                %option{:value => site.id} #{site.name}  
        
    .field
      %label.label{:for => "user_permission_level"} 系統權限
      .ui
        %select{:id => "permitSelect", :name => "user[permission_level]"}
          - if @current_user.permission_level == -1
            %option{:value => -1, :selected => locals["permission_level"]=='-1'?true:false} 系統管理者
            %option{:value => 0, :selected => locals["permission_level"]=='0'?true:false} 總站主管
            %option{:value => 1, :selected => locals["permission_level"]=='1'?true:false} 分站主管
          - else  
            %option{:value => 2, :selected => locals["permission_level"]=='2'?true:false} 登錄人員
    %br
    .field
      .ui
        %input{ :value => "新增帳號", :type => "submit"}
        %input{ :name => "cancel", :value => "取消", :type => "submit"}
      
#navigation
  %nav
    %ul
      %li
        %a.selected{:href => "/manager/edit"} 新增修改帳號
      - if @current_user.permission_level == -1
        %li
          %a{:href => "/manager/sitemgr"} 分站資訊維護