:css
  #notifiers {
    list-style-type: none;
  }
  #notifiers li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.0em;
    height: 18px;
    text-align: left;
    cursor: pointer;
  }
  #notifiers li input {
    font-size: 0.6em;
  }
  #notifiers li img { display: none;}
  #notifiers li:hover img {display: inline; float: right;}

%ul#notifiers
  - @notifiers.each do |n|
    %li{:site_id => @site.id, :nid => n.id, :class => 'ui-state-default'}
      %span #{n.email}
      %input{:type => 'text', :style => 'display:none'} 
      %img.delete_btn{:src => "/images/delete_mark.gif"}
%input{:value => "新增", :type => "button"}


