:javascript
  $(document).ready(function(){
  $('#sites').sortable({
    axis: 'y',
    dropOnEmpty: false,
    handle: '.handle',
    cursor: 'crosshair',
    items: 'li',
    opacity: 0.4,
    scroll: true,
    update: function(){
    $.ajax({
    type: 'post',
    data: $('#sites').sortable('serialize'),
    dataType: 'script',
    complete: function(request){
    $('#sites').effect('highlight');
    },
    url: '/site/sort'}) // end ajax 
    }
  });
  // Code for new site
  $('#btnAdd').click(function() {
    var num = #{@sites.length};
    var newNum = new Number(num + 1);
    $('ul#sites').append('<li class="ui-state-default", id="site_' + newNum +
    '"><span class="handle ui-icon ui-icon-arrowthick-2-n-s"></span><input id="newSite" type="text" name="site"></input></li>');
  });
  });

#wrapper
  #content
    %h1.page_title 請移動分站項目以調整報表順序
    %form{:id => "siteUpdate", :action => "/manager/sitenew", :method => "post"}
      %ul#sites
        - @sites.each do |site| 
          %li.ui-state-default{:id => "site_" + site.id.to_s}
            %span.handle.ui-icon.ui-icon-arrowthick-2-n-s
            #{site.name}
  
      %br
      .field
        .collection
          %input{ :id => "btnAdd", :value => "新增分站", :type => "button"}
#navigation
  %nav
    %ul
      %li
        %a{:href => "/manager/signup"} 新增帳號
      %li
        %a{:href => "/manager/edit"} 編輯帳號
      %li
        %a.selected{:href => "/manager/sitemgr"} 分站資訊維護