:javascript
  $(document).ready(function(){
  $('#sites').sortable({
    axis: 'y',
    dropOnEmpty: false,
    handle: '.handle',
    cursor: 'crosshair',
    items: 'li',
    opacity: 0.4,
    scroll: true,
    update: function(){
    $.ajax({
    type: 'post',
    data: $('#sites').sortable('serialize'),
    dataType: 'script',
    complete: function(request){
    $('#sites').effect('highlight');
    },
    url: '/manager/site/sort'}) // end ajax 
    }
  });
  // Code for new site
  $('#btnAdd').click(function() {
    var num = #{@sites.length};
    var newNum = new Number(num + 1);
    $('ul#sites').append('<li class="ui-state-default" id="site_' + newNum +
    '"><span class="handle ui-icon ui-icon-arrowthick-2-n-s"></span><input id="newSite" type="text" name="site" autofocus="autofocus"></input></li>');
    $('#btnAdd').attr('disabled', true);
  });
  $('#sites li').click(function() {
    var tag = $("<div></div>");
    var li = $(this);
    var id = li.attr('id').substr(5);
    $.ajax({
      url: '/manager/notifier/' + id,
      success: function(data) {
        tag.html(data).dialog({
          modal: true, 
          title: li.text().trim() + ' 分站細項設定',
          close: function(e, ui) {
            $(this).remove();
            location.reload(true); 
          },
        }).dialog('open').on('keydown', function(e) {
          if (e.keyCode === $.ui.keyCode.ESCAPE) {
            var inp = $("#notifiers li input:visible");
            if (inp.length > 0) {
              if (inp.parent().attr('nid') == 'newEmail') {
                inp.parent().remove();
                $('#btnAddNotifier').attr('disabled', false);
              } else 
                spanOn(inp.parent(), true);
              e.stopPropagation();
            }
          }
        });
        $('#notifiers').selectable();
        $('#notifiers li span').click(clickSpan);
        $('#notifiers li input').blur(blurInput).keyup(function(e) {
          if (e.keyCode == 13) { // Enter
            $(this).blur();
          }
        });

        $('#notifiers li img').click(clickDelete);
        $('#btnAddNotifier').click(function() {
          var li = $("#notifiers").append($('<li class="ui-state-default" site_id="' + id + '" nid="newEmail">' +
                                   '<span style="display:none;"></span>' +
                                   '<input type="text" name="email" autofocus="autofocus"></input>' +
                                   '<img src="/images/delete_mark.gif"/></li>')).children('li:last');
          li.children('span').click(clickSpan);
          li.children('input').blur(blurInput).keyup(function(e) {
            if (e.keyCode == 13) { // Enter
              $(this).blur();
            }
          });
          li.children('img').click(function() {
            $(this).parent().remove();
            $('#btnAddNotifier').attr('disabled', false);
          });
          $('#btnAddNotifier').attr('disabled', true);
        });
        // 分站隱藏設定
        $('input#activation').change(function() {
          var checked = $('input#activation').attr('checked')=='checked'
          $.ajax({
            type: 'post',
            url: '/manager/sitemgr/' + id + '/' + checked,
            success: function() {
             ;
            },
          }) // end ajax
        });
      }
    });
  });
  });
  function clickDelete() {
    var input = $(this);
    var site_id = input.parent().attr('site_id');
    var nid = input.parent().attr('nid');
    $.ajax({
      url: '/manager/notifier/' + site_id + '/' + nid, 
      type: "DELETE",
      success: function() {
        input.parent().remove();
      }
    });
  }
  function clickSpan() {
    var value = $(this).html();
    var input = $(this).next('input').val(value);
    input.attr('ovalue', value);
    $(this).hide();
    input.show();
    $(this).next('img').css('display', 'none');
    input.parent().hover(function() {
      $(this).children('img').css('display', 'none');
      }, function() {
      $(this).children('img').css('display', 'none');
    });
    input.focus();
    $('#btnAddNotifier').attr('disabled', 'disabled');
  }
  function checkEmail(email) {
    var re =  /^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i
    return re.test(email);
  }
  function spanOn(li, recreateInput) {
    if (recreateInput) {
      li.children('input').remove();
      var input = $('<input type="text" style="display:none"></input>');
      li.find('span').after(input);
      input.blur(blurInput).keyup(function(e) {
        if (e.keyCode == 13) { // Enter
          $(this).blur();
        }
      });
    } else {
      li.children('input').hide();
    }
    li.children('span').show();
    li.hover(function() {
      $(this).children('img').css({'display':'inline', 'float':'right'});
      }, function() {
      $(this).children('img').css('display', 'none');
    });
    $('#btnAddNotifier').attr('disabled', false);
  }
  function blurInput() {
    var input = $(this);
    if (input.val() == input.attr('ovalue')) {
      spanOn(input.parent());
      return;
    }
    if (input.val().trim() == '' && input.parent().attr('nid') == 'newEmail') {
      input.parent().remove();
      $('#btnAddNotifier').attr('disabled', false);
      return;
    }
    if (!checkEmail(input.val())) {
      alert("電子信箱格式不正確");
      input.focus();
      return;
    }
    var site_id = input.parent().attr('site_id');
    var nid = input.parent().attr('nid');
    $.ajax({
      url: '/manager/notifier/' + site_id + '/' + nid, 
      type: "POST",
      data: {'email': input.val()},
      success: function(data) {
        input.parent().attr('nid', data);
        input.prev('span').html(input.val());
        spanOn(input.parent());
      }
    });
  }
#wrapper
  #content
    %span{:style => "text-align: left"} 
      %ul
        %li 請移動分站項目(箭頭處)以調整報表順序
        %li 請點擊分站項目以管理分站細項設定
        %li 新增分站請點擊新增按鈕，填入分站名稱並按&lt;Enter&gt;確定送出
    %form{:id => "siteUpdate", :action => "/manager/sitenew", :method => "post"}
      %ul#sites
        - @sites.each do |site|
          %li{:id => "site_" + site.id.to_s, :class => site.active? ? 'ui-state-default' : 'ui-state-deactive'}
            %span.handle.ui-icon.ui-icon-arrowthick-2-n-s
            #{site.name}
              
      %br
        .field
          .collection
            %input{ :id => "btnAdd", :value => "新增分站", :type => "button"}      
#navigation
  %nav
    %ul
      %li
        %a{:href => "/manager/edit"} 新增修改帳號
      %li
        %a.selected{:href => "/manager/sitemgr"} 分站資訊維護
      %li
        %a{:href => "/manager/broadcast"} 分站訊息通知  
