:javascript
  $(document).ready(function(){
  $("#permitSelect").change(function () {
      var int = "";
      $("#permitSelect option:selected").each(function () {
        pSelect = parseInt($(this).attr("value"));
      });
      if (pSelect > 0){
        $("#siteSelect option[value=0]").attr('disabled','disabled');
        // user not select a site yet
        if ($("#siteSelect option:selected").attr("value") == '0') {
          $("#siteSelect option[value=1]").attr('selected','selected');
        }  
      } else {
       $("#siteSelect option[value=0]").removeAttr("disabled").attr('selected','selected');
      }
  });
  });
#wrapper
  #content
  %h1.page_title 編輯帳號
  - if @user.nil?
    %form{:action => "/manager/edit", :method => "get"}
      .field
        %label.label{:for => "user_id"} 員工序號
        .ui
          %input{ :id => "user_id", :name => "user[id]", :size => 10, :type => "text", :value => ""}
      %br
      .field
        .ui
          %input{:name => "update", :value => "取得帳號", :type => "submit"}
  -else
    %form{:action => "/manager/edit", :method => "post"}
      .field
        %label.label{:for => "user_id"} 員工序號
        .ui
          %input{ :type => "hidden", :name => "user[id]", :value => @user.id}
          %input{ :id => "user_id", :name => "user[id]", :size => 10, :type => "text", :value => @user.id, :disabled => "disabled"}
      .field
        %label.label{:for => "user_name"} 員工姓名
        .ui
          - if !current_user.in_role? :operator
            %input{ :id => "user_name", :name => "user[name]", :size => 10, :type => "text", :value => @user.name}
          - else
            %input{ :id => "user_name", :name => "user[name]", :size => 10, :type => "text", :value => @user.name, :disabled => "disabled"}   
      .field
        %label.label{:for => "user_password"} 密碼
        .ui
          %input{ :id => "user_password", :name => "user[password]", :size => 10, :type => "password" }
      .field
        %label.label{:for => "user_password_confirmation"} 密碼確認
        .ui
          %input{ :id => "user_password_confirmation", :name => "user[password_confirmation]", :size => 10, :type => "password" }
      .field
        %label.label{:for => "user_site"} 所屬分站
        .ui
          %select{:id => "siteSelect", :name => "sites[]", :multiple => @user.permission_level==1?true:false}
            - if @user.permission_level <= 0
              %option{:value => 0, :selected => true} - 總公司 -     
            - @sites.each do |site|
              - if @user.sites != nil  
                %option{:value => site.id, :selected => @user.sites.map{|s|s.id}.include?(site.id)} #{site.name}
          
      .field
        %label.label{:for => "user_permission_level"} 系統權限
        .ui
          %select{:id => "permitSelect", :name => "user[permission_level]"}
            - if @current_user.in_role? :admin or @user.permission_level==-1
              %option{:value => -1, :selected => @user.permission_level==-1?true:false} 系統管理者
            - if @current_user.in_role? :admin or @user.permission_level==0
              %option{:value => 0, :selected => @user.permission_level==0?true:false} 總站主管
            - if @current_user.in_role? :admin or @user.permission_level==1
              %option{:value => 1, :selected => @user.permission_level==1?true:false} 分站主管
            - if @current_user.in_role? :admin or @user.permission_level==2
              %option{:value => 2, :selected => @user.permission_level==2?true:false} 登錄人員
      - if @current_user.in_role? :admin or @current_user.in_role? :auditor
        .field  
          %label.label{:for => "user_deputy", :title => "分站主管可俱登錄人身份 反之亦然", :style => "cursor: pointer;"} 俱代理身份
          .ui     
            %input{:type => "checkbox", :name => "user[deputy]", :value => "true", :checked => @user.deputy??true:false}     
      %br
      .field
        .collection
          %input{:name => "update", :value => @user.enabled?? "修改" : "恢復", :type => "submit"}
          - if @current_user.id != @user.id && @user.enabled
            %input{:name => "delete", :value => "移除", :type => "submit"}
          %input{:name => "cancel", :value => "取消", :type => "submit"}
#navigation
  %nav
    %ul
      %li
        %a.selected{:href => "/manager/edit"} 新增修改帳號
      - if @current_user.permission_level == -1
        %li
          %a{:href => "/manager/sitemgr"} 分站資訊維護